.hero{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 35px;

}

.hero img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-top: 80px;
}

.hero h1{
    text-align: center;
    width: 70%;
    font-size: 70px;
    font-weight: 600;
}

.hero h1 span{
    background: linear-gradient(270deg, #DF8908 10%, #B415FF 100% );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hero p{
    width: 50%;
    text-align: center;
    font-size: 24px;
    line-height: 40px
}

.hero-action{
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 50px;
}

.hero-connect{
    padding: 25px 45px;
    border-radius: 50px;
    background: linear-gradient(267deg, #412c19 10%, #c281d4 100%);
    cursor: pointer;
}

.hero-connect:hover{
    border: 2px solid white;

}

.hero-resume{
    padding: 25px 75px;
    border-radius: 50px;
    border: 2px solid #fff;
    cursor: pointer;
    text-decoration: none;
}

.hero-resume:hover{
    border-color: #B415FF;
}


@media (max-width: 480px) {
    .hero img{
        margin-top: 120px;
        width: 260px;
    }
    
    .hero h1{
        margin-top: 50px;
        width: 90%;
        font-size: 20px;
        align-items: center;
    }

    .hero p{
        width: 60%;
        font-size: 10px;
        line-height: 30px;
        align-content: center;
    }

    .hero-connect {
        font-size: 12px !important;
        height: 20px !important;
        margin: auto 10px !important;
    }

    .hero-resume {
        font-size: 12px !important;
        height: 20px !important;
        margin: auto 10px !important;
    }
}

@media (max-width: 320px) {
    .hero-connect {
        font-size: 12px !important;
        height: 20px !important;
        margin: auto 10px !important;
    }

    .hero-resume {
        font-size: 12px !important;
        height: 20px !important;
        margin: auto 10px !important;
    }
}

@media (max-width: 768px) {
    .hero-connect {
        font-size: 14px !important;
        height: 20px !important;
        margin: auto 10px !important;
    }

    .hero-resume {
        font-size: 14px !important;
        height: 20px !important;
        margin: auto 10px !important;
    }
    .hero h1 span {
        font-size: 64px;
        margin: 10px !important;
    }
}